.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  flex-direction: column;
}
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  border-radius: 1rem;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  margin: 2rem 0;
  .label {
    font-size: 0.8rem;
    font-weight: 600;
  }
  .input {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: none;
    margin: 0.5rem 0;
    outline: none;
    font-size: 1rem;
    font-weight: 600;
  }
  .button {
    background-color: black;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: none;
    margin: 0.5rem 0;
    outline: none;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
  }
}

.signatureContainer {
  width: 100%;
  max-width: 800px;
  padding: 2rem;
  border-radius: 1rem;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  margin: 2rem 0;
  .signature {
    background-color: white;
    display: flex;
    align-items: center;
    column-gap: 2rem;
    font-weight: 600;
    .signature__image {
      width: 100%;
      max-width: 300px;
      object-fit: contain;
      .image {
        width: 100%;
      }
    }
  }
  .signature__job {
    font-size: 0.7rem;
  }
  .signature__phone {
    font-size: 0.7rem;
  }
  .signature__social {
    display: flex;
    column-gap: 0.3rem;
    margin: 0.3rem 0;
  }
}

.buttons {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .button {
    background-color: black;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
  }
}
